@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

body {
    font-family: 'IM Fell English SC', serif;
    margin: 0 auto;
}

table {
    text-align: center;
    padding: 5px;
border: 1px solid black;
    width: 30vw;
}

td {
   
    font-size: 20px;
}

.country-name {
    background-color: grey;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
 
}
