@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

body {
    font-family: 'IM Fell English SC', serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/34/9e/b2/349eb2156a0a58dca336c70de2a4eeb3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 60px;
    color: #2c3e50;
}

button {
    font-family: 'IM Fell English SC', serif;
}
table {
    text-align: center;
    padding: 5px;
    width: 30vw;
}

td {
    font-size: 20px;
}

.country-name {
    background-color: grey;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
 
}
